.example-card {
  margin-top: 2rem;
  border: 0.1rem solid #00999e;
  width: 145px;

  .edit {
    display: flex;
    flex-direction: column;
  }

  .controls {
    display: flex;
    justify-content: space-around;

    mat-icon {
      font-size: 22px;
      cursor: pointer;
    }

    .disable {
      pointer-events: none;
    }
  }
}
