<mat-card class="example-card">
  <mat-card-content>
    <div class="no-edit" *ngIf="!editMode">
      <div class="adresa">
        <p>Ulica: {{ adresa.ulica }}</p>
        <p>Broj: {{ adresa.broj }}</p>
        <p>Grad: {{ adresa.nazivGrada }}</p>
        <p>Drzava: {{ adresa.nazivDrzave }}</p>
      </div>
    </div>
    <div class="edit">
      <mat-form-field *ngIf="editMode" class="example-full-width">
        <mat-label>Ulica</mat-label>
        <input matInput [(ngModel)]="adresa.ulica" />
      </mat-form-field>
      <mat-form-field *ngIf="editMode" class="example-full-width">
        <mat-label>Broj</mat-label>
        <input matInput [(ngModel)]="adresa.broj" />
      </mat-form-field>
      <mat-form-field *ngIf="editMode" class="example-full-width">
        <mat-label>Grad</mat-label>
        <input matInput [(ngModel)]="adresa.nazivGrada" />
      </mat-form-field>
      <mat-form-field *ngIf="editMode" class="example-full-width">
        <mat-label>Drzava</mat-label>
        <input matInput [(ngModel)]="adresa.nazivDrzave" />
      </mat-form-field>
    </div>
    <div class="controls">
      <mat-icon
        (click)="editAddress()"
        matTooltip="Izmeni"
      >build</mat-icon>

      <mat-icon
        (click)="cancelEdit()"
        matTooltip="Poništi"
      >cancel</mat-icon>

      <mat-icon [ngClass]="editMode ? 'disable' : 'normal'"
        (click)="deleteAddress()"
        matTooltip="Obrisi"
      >delete_outline</mat-icon>

      <mat-icon
        (click)="updateAddress()"
        matTooltip="Sacuvaj"
      >save</mat-icon>
    </div>
  </mat-card-content>
</mat-card>
