<div class="container">
  <div class="search">
    <span class="title">Vozila</span>
    <div class="search-field">
      <mat-form-field class="mat-input">
        <mat-label>Pretraga po marci automobila</mat-label>
        <input matInput [(ngModel)]="searchValue" />
      </mat-form-field>
      <mat-icon fontIcon="search" matTooltip="Pretrazi" (click)="pretrazi(searchValue)">search</mat-icon>
      <mat-icon fontIcon="cancel" matTooltip="Resetuj pretragu" (click)="resetujPretragu()">cancel</mat-icon>
    </div>
  </div>
  <mat-card class="card">
      <mat-card-content class="card-content">
          <button (click)="dodajVozilo()" class="dodaj" mat-raised-button>
              <mat-icon>add</mat-icon>
              Dodaj novo vozilo
          </button>
          <article>
              <table mat-table [dataSource]="vozila" class="table">
                  <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
                      <th mat-header-cell *matHeaderCellDef>
                          {{ col.label }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                          <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                  <mat-icon (click)="izmeni(element)" fontIcon="edit"
                                      #tooltip="matTooltip" matTooltip="Izmeni" matTooltipPosition="below">edit</mat-icon>
                                  <mat-icon (click)="obrisi(element)" fontIcon="delete" #tooltip="matTooltip" matTooltip="Obriši"
                                      matTooltipPosition="below">delete</mat-icon>
                              </div>
                              <span *ngSwitchDefault>
                                  {{ element[col.key] }}
                              </span>
                          </div>
                          <div [ngSwitch]="col.type" *ngIf="element.isEdit" >
                              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                  <mat-icon (click)="sacuvaj(element)" fontIcon="save" #tooltip="matTooltip"
                                      matTooltip="Sačuvaj" matTooltipPosition="below">save</mat-icon>

                                  <mat-icon (click)="ponisti(element)" fontIcon="cancel" #tooltip="matTooltip"
                                      matTooltip="Poništi" matTooltipPosition="below">cancel</mat-icon>

                                  <mat-icon (click)="obrisi(element)" fontIcon="delete" #tooltip="matTooltip" matTooltip="Obriši"
                                      matTooltipPosition="below">delete</mat-icon>
                              </div>
                              <span *ngSwitchDefault #dataField>
                                <mat-form-field class="mat-input" *ngIf="col.key != 'tip_goriva'">
                                  <input [type]="col.type" matInput
                                      [(ngModel)]="element[col.key]" />
                              </mat-form-field>

                              <mat-form-field class="mat-input"  *ngIf="col.key == 'tip_goriva'">
                                <mat-select [(ngModel)]="element[col.key]">
                                  <mat-option *ngFor="let gorivo of tipGoriva"
                                      [value]="gorivo">{{gorivo}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            </span>
                          </div>
                      </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
          </article>
      </mat-card-content>
  </mat-card>
</div>
