<mat-card class="example-card">
  <mat-card-content>
    <div class="no-edit" *ngIf="!editMode">
      <div class="adresa">
        <p>Grad: {{ grad.nazivGrada }}</p>
        <p>Drzava: {{ grad.nazivDrzave }}</p>
      </div>
    </div>
    <div class="edit">
      <mat-form-field *ngIf="editMode" class="example-full-width">
        <mat-label>Grad</mat-label>
        <input matInput [(ngModel)]="grad.nazivGrada" />
      </mat-form-field>
      <mat-form-field *ngIf="editMode">
        <mat-select [(ngModel)]="grad.nazivDrzave">
            <mat-option *ngFor="let drzava of drzave"
                [value]="drzava">{{drzava}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="controls">
      <mat-icon
        (click)="editGrad()" [ngClass]="editMode ? 'disable' : 'normal'"
        matTooltip="Izmeni"
      >build</mat-icon>

      <mat-icon
        (click)="cancelEdit()" [ngClass]="!editMode ? 'disable' : 'normal'"
        matTooltip="Poništi"
      >cancel</mat-icon>

      <mat-icon [ngClass]="editMode ? 'disable' : 'normal'"
        (click)="deleteGrad()"
        matTooltip="Obrisi"
      >delete_outline</mat-icon>

      <mat-icon
        (click)="updateGrad()" [ngClass]="!editMode ? 'disable' : 'normal'"
        matTooltip="Sacuvaj"
      >save</mat-icon>
    </div>
  </mat-card-content>
</mat-card>
