<div class="container">
  <span class="title">Ponude</span>
  <mat-card class="card">
      <mat-card-content class="card-content">
          <button (click)="dodajPonudu()" class="dodaj" mat-raised-button>
              <mat-icon>add</mat-icon>
              Dodaj novu ponudu
          </button>
          <article>
              <table mat-table [dataSource]="ponude" class="table">
                  <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
                      <th mat-header-cell *matHeaderCellDef>
                          {{ col.label }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                          <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                  <mat-icon (click)="izmeni(element)" fontIcon="edit"
                                      #tooltip="matTooltip" matTooltip="Izmeni" matTooltipPosition="below">edit</mat-icon>
                                  <mat-icon (click)="obrisi(element)" fontIcon="delete" #tooltip="matTooltip" matTooltip="Obriši"
                                      matTooltipPosition="below">delete</mat-icon>
                              </div>
                              <span *ngSwitchDefault>
                                  {{ element[col.key] }}
                              </span>
                          </div>
                          <div [ngSwitch]="col.type" *ngIf="element.isEdit" >
                              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                  <mat-icon (click)="sacuvaj(element)" fontIcon="save" #tooltip="matTooltip"
                                      matTooltip="Sačuvaj" matTooltipPosition="below">save</mat-icon>

                                  <mat-icon (click)="ponisti(element)" fontIcon="cancel" #tooltip="matTooltip"
                                      matTooltip="Poništi" matTooltipPosition="below">cancel</mat-icon>

                                  <mat-icon (click)="obrisi(element)" fontIcon="delete" #tooltip="matTooltip" matTooltip="Obriši"
                                      matTooltipPosition="below">delete</mat-icon>
                              </div>
                              <span *ngSwitchDefault #dataField>
                                <mat-form-field class="mat-input">
                                  <input [type]="col.type" matInput
                                      [(ngModel)]="element[col.key]" />
                              </mat-form-field>
                            </span>
                          </div>
                      </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
          </article>
      </mat-card-content>
  </mat-card>
</div>
