<div class="container">
  <h2>Adrese</h2>
  <button class="dodaj" (click)="addNewAddress()" color="primary" mat-raised-button>
    <mat-icon>add</mat-icon>
    Dodaj novu adresu
  </button>
  <div class="nova-adresa" *ngIf="addingNew">
    <mat-card *ngIf="addingNew" class="card">
      <mat-card-content class="card-content">
        <div class="edit-container">
          <mat-form-field class="example-full-width">
            <mat-label>Ulica:</mat-label>
            <input matInput [(ngModel)]="novaAdresa.ulica"/>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Broj:</mat-label>
            <input matInput [(ngModel)]="novaAdresa.broj"/>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Grad</mat-label>
            <mat-select [(ngModel)]="novaAdresa.nazivGrada">
                <mat-option *ngFor="let grad of naziviGradova"
                    [value]="grad">{{grad}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Drzava</mat-label>
            <mat-select [(ngModel)]="novaAdresa.nazivDrzave">
                <mat-option *ngFor="let drzava of naziviDrzava"
                    [value]="drzava">{{drzava}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="controls">
          <mat-icon
            (click)="saveNewAddress()"
            matTooltip="Sacuvaj"
          >save</mat-icon>

          <mat-icon
            (click)="cancelNewAddress()"
            matTooltip="Poništi"
          >cancel</mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="adresa-container">
    <ng-container *ngFor="let adresa of adrese" class="adresa-cards">
      <app-adresa [adresa]="adresa"></app-adresa>
    </ng-container>
  </div>

  <h2>Gradovi</h2>
  <button class="dodaj" (click)="addNewGrad()" color="primary" mat-button>
    <mat-icon>add</mat-icon>
    Dodaj novi grad
  </button>
  <div class="novi-grad" *ngIf="addingNewGrad">
    <mat-card *ngIf="addingNewGrad" class="card">
      <mat-card-content class="card-content">
        <div class="edit-container">
          <mat-form-field class="example-full-width">
            <mat-label>Grad:</mat-label>
            <input matInput [(ngModel)]="noviGrad.nazivGrada"/>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Drzava</mat-label>
            <mat-select [(ngModel)]="noviGrad.nazivDrzave" placeho>
                <mat-option *ngFor="let drzava of naziviDrzava"
                    [value]="drzava">{{drzava}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="controls">
          <mat-icon
            (click)="saveNewGrad()"
            matTooltip="Sacuvaj"
          >save</mat-icon>

          <mat-icon
            (click)="cancelNewGrad()"
            matTooltip="Poništi"
          >cancel</mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="grad-container">
    <ng-container *ngFor="let grad of gradovi" class="grad-cards">
      <app-grad [grad]="grad"></app-grad>
    </ng-container>
  </div>
</div>
