<mat-toolbar class="nav-bar">
  <div>
    <span class="nav-bar-name">Rent a car</span>
  </div>
  <div class="nav-items">
    <button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/adresa-page">Adresa</button>
    <button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/ponuda-page">Ponuda</button>
    <button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/vozilo-page">Vozilo</button>
    <button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/racun-page">Racun</button>
    <button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/ugovor-page">Ugovor</button>
    <button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/ostecenja-page">Ostecenja</button>
  </div>
</mat-toolbar>
