<div class="container">
  <span class="title">Zahtevi</span>
  <mat-card class="card">
      <mat-card-content class="card-content">
          <button (click)="dodajZahtev()" class="dodaj" mat-raised-button>
              <mat-icon>add</mat-icon>
              Dodaj novi zahtev
          </button>
          <article>
              <table mat-table [dataSource]="zahtevi" class="table">
                  <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
                      <th mat-header-cell *matHeaderCellDef>
                          {{ col.label }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                          <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                  <mat-icon (click)="izmeni(element)" fontIcon="edit"
                                      #tooltip="matTooltip" matTooltip="Izmeni" matTooltipPosition="below">edit</mat-icon>
                                  <mat-icon (click)="obrisi(element)" fontIcon="delete" #tooltip="matTooltip" matTooltip="Obriši"
                                      matTooltipPosition="below">delete</mat-icon>
                              </div>
                              <span *ngSwitchDefault>
                                  {{ element[col.key] }}
                              </span>
                          </div>

                          <div *ngIf="element.isEdit" >
                              <div class="btn-edit" *ngIf="col.key === 'isEdit'; else dataField">
                                  <mat-icon (click)="sacuvaj(element)" fontIcon="save" #tooltip="matTooltip"
                                      matTooltip="Sačuvaj" matTooltipPosition="below">save</mat-icon>

                                  <mat-icon (click)="ponisti(element)" fontIcon="cancel" #tooltip="matTooltip"
                                      matTooltip="Poništi" matTooltipPosition="below">cancel</mat-icon>

                                  <mat-icon (click)="obrisi(element)" fontIcon="delete" #tooltip="matTooltip" matTooltip="Obriši"
                                      matTooltipPosition="below">delete</mat-icon>
                              </div>

                              <ng-template #dataField>
                                <mat-form-field class="mat-input" ngClass="col.key == 'sadrzaj' ? sadrzaj : normal"
                                *ngIf="col.key != 'imePrezimeRadnika' && col.key != 'imePrezimeKlijenta' && col.key != 'odobren'">
                                  <input [type]="col.type" matInput
                                      [(ngModel)]="element[col.key]" />
                              </mat-form-field>

                                <mat-form-field class="mat-input" *ngIf="col.key == 'imePrezimeRadnika'">
                                  <mat-select [(ngModel)]="element[col.key]">
                                    <mat-option *ngFor="let imePrezime of imenaPrezimenaRadnika"
                                        [value]="imePrezime">{{imePrezime}}</mat-option>
                                  </mat-select>
                                </mat-form-field>

                              <mat-form-field class="mat-input" *ngIf="col.key == 'imePrezimeKlijenta'">
                                  <mat-select [(ngModel)]="element[col.key]">
                                    <mat-option *ngFor="let imePrezime of imenaPrezimenaKlijenata"
                                        [value]="imePrezime">{{imePrezime}}</mat-option>
                                  </mat-select>
                              </mat-form-field>

                              <mat-form-field class="mat-input" *ngIf="col.key == 'odobren'">
                                <mat-select [(ngModel)]="element[col.key]">
                                  <mat-option *ngFor="let approve of odobren"
                                      [value]="approve">{{approve}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            </ng-template>

                          </div>
                      </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
          </article>
      </mat-card-content>
  </mat-card>
</div>
